
body {

    
    --page-bg-background-img: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8) ),url("img/miyakojima-12683_TP_V.jpg");
    
    --nav-background-color: rgba(20,20,20,0.7);
    
    --nav-brand-color: rgba(230,230,230,1);
    --nav-vr-color: rgba(208,208,208,1);
    --nav-info-btn-color: white;

    --post-page-background-color: rgba(20, 12, 8, 1);

    --state-title-color: rgba(255, 255, 255, 0.45);
    --state-content-color: rgba(255, 255, 255, 0.85);

    --card-background-color: rgba(31, 31, 31, 1);

}
