
body {

    --page-bg-background-color: rgba(255,255,255,0.8);
    --page-bg-background-img: url("img/miyakojima-12683_TP_V.jpg");

    --nav-background-color: rgba(255,255,255,0.7);

    --nav-brand-color: rgba(23,23,23,1);
    --nav-vr-color: rgba(80,80,80,1);
    --nav-info-btn-color: black;

    --post-page-background-color: rgba(235, 243, 247, 1);

    --state-title-color: rgba(0, 0, 0, 0.45);
    --state-content-color: rgba(0, 0, 0, 0.85);

    --card-background-color: white;

}
