/* /Pages/About.razor.rz.scp.css */

.state-title[b-c40jvsvkf1] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
}

.state-content[b-c40jvsvkf1] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
}

.card[b-c40jvsvkf1] {
    border: none;
    background-color: var(--card-background-color);
}

.card-header[b-c40jvsvkf1] {
    background-color: transparent;
    border-bottom: none;
}

.icon-a[b-c40jvsvkf1] {
    color: var(--nav-info-btn-color);
}
/* /Pages/Announcement.razor.rz.scp.css */

.state-title[b-x6ym4fsbli] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
}

.state-content[b-x6ym4fsbli] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
}

.card[b-x6ym4fsbli] {
    border: none;
    background-color: var(--card-background-color);
}

.card-header[b-x6ym4fsbli] {
    background-color: transparent;
    border-bottom: none;
}

.icon-a[b-x6ym4fsbli] {
    color: var(--nav-info-btn-color);
}

.post-item[b-x6ym4fsbli] {
    height: var(--post_item_height);
}


.post-cover-wrapper[b-x6ym4fsbli] {
    width: 100%;
    height: 100%;

    overflow: clip;
}

.post-cover[b-x6ym4fsbli] {
    object-fit: cover;
    width: 100%;
    height: var(--post_cover_height);

    transition: transform 0.5s;

}

.post-cover:hover[b-x6ym4fsbli] {
   transform: scale(1.1);
}


.post-info[b-x6ym4fsbli] {
    height: var(--post_info_height);
}

.post-content[b-x6ym4fsbli] {
    /*line-clamp*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.post-title .card-title[b-x6ym4fsbli] {
    transition: color 0.2s ease-in-out;
}

.post-title .card-title:hover[b-x6ym4fsbli] {
    color: lightskyblue;
}
/* /Pages/Course.razor.rz.scp.css */

.state-title[b-262ugqi6ql] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
}

.state-content[b-262ugqi6ql] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
}

.content-wrapper-course[b-262ugqi6ql] {
    margin-top: 20px;
    animation: bottom-to-top-b-262ugqi6ql 1s;
}

@keyframes bottom-to-top-b-262ugqi6ql {

    0% {
        margin-top: 50px;
        
    }

    100% {
        margin-top: 20px;
        
    }
}


/* /Pages/Index.razor.rz.scp.css */

.state-title[b-833gggfg6d] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
    
}

.state-content[b-833gggfg6d] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
    
}

.card[b-833gggfg6d] {
    border: none;
    background-color: var(--card-background-color);

    
}

.card-header[b-833gggfg6d] {
    background-color: transparent;
    border-bottom: none;
}

/*fix bootstrap css conflict*/
[b-833gggfg6d] .ant-steps-icon {
    top: -1.5px;
}
/* /Pages/Posts/Aanalysis_other_site.razor.rz.scp.css */

.state-title[b-brh27pp2oh] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
}

.state-content[b-brh27pp2oh] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
}

.card[b-brh27pp2oh] {
    border: none;
    background-color: var(--card-background-color);
}

.card-header[b-brh27pp2oh] {
    background-color: transparent;
    border-bottom: none;
}

.icon-a[b-brh27pp2oh] {
    color: var(--nav-info-btn-color);
}

.post-header[b-brh27pp2oh] {
    width: 100%;
    height: var(--post-header_height);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.post-bg[b-brh27pp2oh] {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}


.post-info[b-brh27pp2oh] {
    position: absolute;
    bottom: var(--post-info_bottom);
    width: 100%;
}

.layout[b-brh27pp2oh] {
    position: absolute;
    top: var(--layout-top);
    left: 0px;
    width: 100%;
}

.toc[b-brh27pp2oh] {
    position: var(--toc-position);
    right: var(--toc-right);
    top: var(--toc-top);
    bottom: var(--toc-bottom);
    opacity: var(--toc-opacity);
    z-index: var(--toc-z-index);
    max-width: var(--toc-max-width);
    min-width: 200px;
    transition: all .2s;
}


[b-brh27pp2oh] .ant-anchor-link-active > .ant-anchor-link-title {
    background: #00c4b6;
    color: #fff;
}


[b-brh27pp2oh] .ant-anchor-ink {
    display: none;
}

[b-brh27pp2oh] .ant-anchor-link {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

[b-brh27pp2oh] .ant-anchor-link-title {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    white-space: normal;
}


.right-sidebar[b-brh27pp2oh] {
    position: fixed;
    right: 15px;
    bottom: 40px;
    z-index: 100;
}

    .right-sidebar button[b-brh27pp2oh] {
        width: 35px;
        height: 35px;
    }

    .right-sidebar[b-brh27pp2oh]  .ant-btn {
        width: 35px;
        height: 35px;
        padding: 2px;
    }

        .right-sidebar[b-brh27pp2oh]  .ant-btn span {
            display: block;
        }


#deep .ant-image[b-brh27pp2oh] {
    width: 80%;
}
/* /Pages/Posts/Analysis_site.razor.rz.scp.css */

.state-title[b-k36j5qb3gd] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
}

.state-content[b-k36j5qb3gd] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
}

.card[b-k36j5qb3gd] {
    border: none;
    background-color: var(--card-background-color);
}

.card-header[b-k36j5qb3gd] {
    background-color: transparent;
    border-bottom: none;
}

.icon-a[b-k36j5qb3gd] {
    color: var(--nav-info-btn-color);
}

.post-header[b-k36j5qb3gd] {
    width: 100%;
    height: var(--post-header_height);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.post-bg[b-k36j5qb3gd] {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}


.post-info[b-k36j5qb3gd] {
    position: absolute;
    bottom: var(--post-info_bottom);
    width: 100%;
}

.layout[b-k36j5qb3gd] {
    position: absolute;
    top: var(--layout-top);
    left: 0px;
    width: 100%;
}

.toc[b-k36j5qb3gd] {
    position: var(--toc-position);
    right: var(--toc-right);
    top: var(--toc-top);
    bottom: var(--toc-bottom);
    opacity: var(--toc-opacity);
    z-index: var(--toc-z-index);
    max-width: var(--toc-max-width);
    min-width: 200px;
    transition: all .3s ;
}


[b-k36j5qb3gd] .ant-anchor-link-active > .ant-anchor-link-title {
    background: #00c4b6;
    color: #fff;
}


[b-k36j5qb3gd] .ant-anchor-ink {
    display: none;
}

[b-k36j5qb3gd] .ant-anchor-link {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

[b-k36j5qb3gd] .ant-anchor-link-title {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    white-space: normal;
}


.right-sidebar[b-k36j5qb3gd] {
    position: fixed;
    right: 15px;
    bottom: 40px;
    z-index: 100;
}

.right-sidebar button[b-k36j5qb3gd] {
    width: 35px;
    height: 35px;
}

    .right-sidebar[b-k36j5qb3gd]  .ant-btn {
        width: 35px;
        height: 35px;
        padding: 2px;
    }

        .right-sidebar[b-k36j5qb3gd]  .ant-btn span {
            display: block;
        }


#deep .ant-image[b-k36j5qb3gd]{
    width: 80%;
}
/* /Pages/Posts/Release_0_1_0.razor.rz.scp.css */

.state-title[b-pnktbsapoj] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
}

.state-content[b-pnktbsapoj] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
}

.card[b-pnktbsapoj] {
    border: none;
    background-color: var(--card-background-color);
}

.card-header[b-pnktbsapoj] {
    background-color: transparent;
    border-bottom: none;
}

.icon-a[b-pnktbsapoj] {
    color: var(--nav-info-btn-color);
}

.post-header[b-pnktbsapoj] {
    width: 100%;
    height: var(--post-header_height);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.post-bg[b-pnktbsapoj] {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}


.post-info[b-pnktbsapoj] {
    position: absolute;
    bottom: var(--post-info_bottom);
    width: 100%;
}

.layout[b-pnktbsapoj] {
    position: absolute;
    top: var(--layout-top);
    left: 0px;
    width: 100%;
}

.toc[b-pnktbsapoj] {
    position: var(--toc-position);
    right: var(--toc-right);
    top: var(--toc-top);
    bottom: var(--toc-bottom);
    opacity: var(--toc-opacity);
    z-index: var(--toc-z-index);
    max-width: var(--toc-max-width);
    min-width: 200px;
    transition: all .2s;
}


[b-pnktbsapoj] .ant-anchor-link-active > .ant-anchor-link-title {
    background: #00c4b6;
    color: #fff;
}


[b-pnktbsapoj] .ant-anchor-ink {
    display: none;
}

[b-pnktbsapoj] .ant-anchor-link {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

[b-pnktbsapoj] .ant-anchor-link-title {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    white-space: normal;
}


.right-sidebar[b-pnktbsapoj] {
    position: fixed;
    right: 15px;
    bottom: 40px;
    z-index: 100;
}

    .right-sidebar button[b-pnktbsapoj] {
        width: 35px;
        height: 35px;
    }

    .right-sidebar[b-pnktbsapoj]  .ant-btn {
        width: 35px;
        height: 35px;
        padding: 2px;
    }

        .right-sidebar[b-pnktbsapoj]  .ant-btn span {
            display: block;
        }


#deep .ant-image[b-pnktbsapoj] {
    width: 80%;
}
/* /Pages/Schedule.razor.rz.scp.css */

.state-title[b-6tpd4fbqv9] {
    color: var(--state-title-color);
    /*font-size: 12px;*/
}

.state-content[b-6tpd4fbqv9] {
    color: var(--state-content-color);
    /*font-size: 16px;
    font-weight: 500;*/
}

.card[b-6tpd4fbqv9] {
    border: none;
    background-color: var(--card-background-color);
}

.card-header[b-6tpd4fbqv9] {
    background-color: transparent;
    border-bottom: none;
}

/*fix bootstrap css conflict*/
[b-6tpd4fbqv9] .ant-steps-icon {
    top: -1.5px;
}
[b-6tpd4fbqv9] .anticon {
    vertical-align: 0;
}
/* /Shared/MainLayout.razor.rz.scp.css */

#page-bg[b-qh52dxe6b3] {
    display: flex;

    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;

    min-width: 100vw;
    min-height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--page-bg-background-img);
    
    
    
}

#page-bg-mask[b-qh52dxe6b3] {
    
    min-width: 100%;
    min-height: 100%;

    background-color: var(--page-bg-background-color);

    backdrop-filter: blur(30px) saturate(125%);

    transition: all 0.2s;
}


.vr[b-qh52dxe6b3] {
    height: 24px;
    width: 2px;
    background-color: var(--nav-vr-color);
    opacity: 0.85;

    transition: all 0.2s;
}

.navbar-toggler[b-qh52dxe6b3] {
    border-color: transparent;
}

[b-qh52dxe6b3] .ant-menu {
    background-color: transparent;
    border-bottom: none;
    border-right: none;
}

#nav[b-qh52dxe6b3] {
    background-color: var(--nav-background-color);
    backdrop-filter: blur(30px) saturate(125%);

    transition: all 0.2s;
}

.brand[b-qh52dxe6b3] {
    color: var(--nav-brand-color);
    font-size: 18px;
    font-weight: 600;

    transition: all 0.2s;
}

.icon-a[b-qh52dxe6b3] {
    color: var(--nav-info-btn-color);

}

#sidebar[b-qh52dxe6b3]  .ant-drawer-content-wrapper {
    transition: all .5s;
}



